header {
    color: orange;
    font-size: 50px;
    text-align:center;
}

p {
    font-size: 20px;
    text-align: center;
    
}

ul {
    font-size: 30px;
}

.input {
    color: red;
}

